{% extends "blogapp/index.html" %}
{% load static %}
{% block extracss %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico" %}" />
  <link rel="stylesheet" media="all" href="{% static "assets/application_bs.css" %}" data-turbolinks-track="true" />
  <script src="{% static "assets/application_bs.js" %}" data-turbolinks-track="true"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="MYmzFHzQgm8jhdk3Nzp/x+fd71MTuGoMXHB7UU1iodcsqyz1/FcN714V0sTY5PGNu85MuDPPAQA+BUlyF2wTUA==" />

{% endblock %}
{%  block content %}

<div class="container-fluid" style="padding-left:0;padding-right:0;">
    <div class="top-inner">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-qibao">
    您的位置：
      <li class="breadcrumb-item"><a href="../index.html">首页</a></li>
    <li class="breadcrumb-item active" aria-current="page">员工保障计划</li>
  </ol>
</nav>

</div>



<nav class="navbar sticky-top" style="height:80px;background-color:white;border-bottom:1px solid #e1e1e1">
  <div class="top-inner">
    <div class="insurance_bought_title left">
      <span class="title1 bold">员工保障计划</span>
      <img class="insurance-logo" src="../assets/desktop/1an_logo-fee8cea6b2161be02e27325f4ecbab2c5b8f7018796b1641c7d220ce3cdf686e.png" alt="">
    </div>

        <a id="buy_link" class="btn btn-buy float-right" href="../users/sign_in.html?insurance_id=129">立即购买</a>

    <span class="insurance_bought_title_price red bold">￥<span id="current_price" data-insurance=129 >18.60</span></span>
    <div class="insurance_bought_type right">
          <a data-remote="true" id='insurance129' data-insurance="129" data-upgrade="" class="" href="129.html">A方案</a>
          <a data-remote="true" id='insurance130' data-insurance="130" data-upgrade="" class="active" href="130.html">B方案</a>
          <a data-remote="true" id='insurance131' data-insurance="131" data-upgrade="" class="" href="131.html">C方案</a>
          <a data-remote="true" id='insurance132' data-insurance="132" data-upgrade="" class="" href="132.html">D方案</a>
    </div>
    <div class="clear"></div>
  </div>
</nav>

<div class="insurance_bought2" style="height: auto;background:rgb(245,245,245);">
    <div class="top-inner" style="position:relative;background: url(/static/images/PC-detail.png) no-repeat left center;">
      <img src="#" alt="" style="position:absolute;top:0;left:0">
      <div class="insurance_bought2_content">
        <ul>
            <li style="background: url(/static/images/feature-traficaccident.png) left top no-repeat">
              <p class="title" style="color:#e9aa4c;">交通意外保障</p>
              <p class="content">海陆空360°全方位守护</p>
            </li>
            <li style="background: url(/static/images/feature_hospital2.png) left top no-repeat">
              <p class="title" style="color:#e9aa4c;">特色住院津贴</p>
              <p class="content">因意外住院，可获赔津贴</p>
            </li>
            <li style="background: url(/static/images/feature-alldirect.png) left top no-repeat">
              <p class="title" style="color:#e9aa4c;">7×24小时意外保障</p>
              <p class="content">大陆境内，全天候保障</p>
            </li>
        </ul>
        <div style="height: 55px"></div>
      </div>
      <div class="clear"></div>
    </div>
</div>

<div class="insurance_infos">
  <div class="insurance_title">
    <div class="top-inner">
      <span>基本信息</span>
      <div class="more">
        <a id="claim_link" target="_blank" href="https://view.officeapps.live.com/op/view.aspx?src=http%3A%2F%2Fproduction.qibao360.com%2Fuploads%2Finsurance_term%2Ffile_path%2F3%2F1an_accident_insurance.docx%3Fe%3D1554021561%26token%3DcAsAAJvflOIhtXoXxl2iNilT6ssw_qOofh8vVWsY%3AeQufGy3u1eMCiGnH0FaAsxtRw9k%3D">《保险条款与免责条款》</a>和<a target="_blank" href="../help/vocation21b7.html?active=1an">《职业类别表》</a>
      </div>
    </div>
  </div>

    <div id="insurance_quote_id">
      <div class="insurance_infos_filter top-inner" id="insurance_quote_set" data-url=/api/insurances/employee/quote >
    <div class="insurance_infos_filter_box">
      <span class="title-left">保障期限</span>
      <ul data-code=month >
          <li class="active" id="month_1" data-least="1" data-mode="true">1个月</li>
          <li class="" id="month_2" data-least="2" data-mode="true">2个月</li>
          <li class="" id="month_3" data-least="3" data-mode="true">3个月</li>
          <li class="" id="month_4" data-least="4" data-mode="true">4个月</li>
          <li class="" id="month_5" data-least="5" data-mode="true">5个月</li>
          <li class="" id="month_6" data-least="6" data-mode="true">6个月</li>
          <li class="" id="month_7" data-least="7" data-mode="true">7个月</li>
          <li class="" id="month_8" data-least="8" data-mode="true">8个月</li>
          <li class="" id="month_9" data-least="9" data-mode="true">9个月</li>
          <li class="" id="month_10" data-least="10" data-mode="true">10个月</li>
          <li class="" id="month_11" data-least="11" data-mode="true">11个月</li>
          <li class="" id="month_12" data-least="12" data-mode="true">1年</li>
      </ul>
    </div>
    <div class="clear"></div>
    <div class="insurance_infos_filter_box">
      <span class="title-left">职业类别</span>
      <ul data-code=level >
          <li class="active" id="level_1" data-least="1" data-mode="true">1-4类</li>
      </ul>
    </div>
    <div class="clear"></div>
    <div class="insurance_infos_filter_box">
      <span class="title-left">保障年龄</span>
      <ul data-code=age >
          <li class="active" id="age_1" data-least="16" data-mode="true">16-65周岁</li>
      </ul>
    </div>
    <div class="clear"></div>
</div>

    </div>

  <div class="insurance_infos_main2 top-inner">
      <div class="insurance_info_main2_top">
  <ul>
      <li style="margin:0" class=""><a href="javascript:;">A方案</a></li>
      <li style="" class="active"><a href="javascript:;">B方案</a></li>
      <li style="" class=""><a href="javascript:;">C方案</a></li>
      <li style="" class=""><a href="javascript:;">D方案</a></li>
  </ul>
  &nbsp;
  <div class="clear"></div>
</div>

  <div class="insurance_info_main2_contents" style="height:auto;">
      <div class="insurance_info_main2_content" style="">
        <div class="inner">
                  <p class="title green bold"></p>
                <table class="table-main">
                    <thead>
                    <tr>
                      <td style="width:20%">保险利益</td>
                      <td style="width:30%">保险金额</td>
                      <td style="width:50%">保险范围</td>
                    </tr>
                    </thead>
                  <tbody>
                    <tr>
                        <td class="" style="width:20%">意外身故</td>
                      <td style="width:30%">10万</td>
                      <td style="width:50%">在保险期间内被保险人遭受意外伤害，并自意外伤害发生之日起180日内因该意外伤害身故的，保险人按保险金额给付身故保险金</td>
                    </tr>
                    <tr>
                        <td class="" style="width:20%">意外伤残</td>
                      <td style="width:30%">10万</td>
                      <td style="width:50%">在保险期间内被保险人遭受意外伤害，并自意外伤害发生之日起180日内因该意外伤害造成条款所列伤残，保险人按伤残等级对应比例给付伤残保险金</td>
                    </tr>
                    <tr>
                        <td class="" style="width:20%">意外医疗</td>
                      <td style="width:30%">1万</td>
                      <td style="width:50%">在保险期间内被保险人遭受意外伤害产生的合理治疗费用，无免赔，社保用药100%赔付，自费和统筹资金已赔付的部分除外</td>
                    </tr>
                    <tr>
                        <td class="" style="width:20%">意外住院津贴</td>
                      <td style="width:30%">100元/天</td>
                      <td style="width:50%">免赔3天，最长180天/年</td>
                    </tr>
                  </tbody>
                </table>
        </div>
      </div>
      <div class="insurance_info_main2_content" style="display:block">
        <div class="inner">
                  <p class="title green bold"></p>
                <table class="table-main">
                    <thead>
                    <tr>
                      <td style="width:20%">保险利益</td>
                      <td style="width:30%">保险金额</td>
                      <td style="width:50%">保险范围</td>
                    </tr>
                    </thead>
                  <tbody>
                    <tr>
                        <td class="" style="width:20%">意外身故</td>
                      <td style="width:30%">20万</td>
                      <td style="width:50%">在保险期间内被保险人遭受意外伤害，并自意外伤害发生之日起180日内因该意外伤害身故的，保险人按保险金额给付身故保险金</td>
                    </tr>
                    <tr>
                        <td class="" style="width:20%">意外伤残</td>
                      <td style="width:30%">20万</td>
                      <td style="width:50%">在保险期间内被保险人遭受意外伤害，并自意外伤害发生之日起180日内因该意外伤害造成条款所列伤残，保险人按伤残等级对应比例给付伤残保险金</td>
                    </tr>
                    <tr>
                        <td class="" style="width:20%">意外医疗</td>
                      <td style="width:30%">2万</td>
                      <td style="width:50%">在保险期间内被保险人遭受意外伤害产生的合理治疗费用，无免赔，社保用药100%赔付，自费和统筹资金已赔付的部分除外</td>
                    </tr>
                    <tr>
                        <td class="" style="width:20%">意外住院津贴</td>
                      <td style="width:30%">100元/天</td>
                      <td style="width:50%">免赔3天，最长180天/年</td>
                    </tr>
                  </tbody>
                </table>
                  <p class="title green bold">附加险-公共交通工具乘客意外伤害综合保险</p>
                <table class="table-main">
                    <thead>
                    <tr>
                      <td style="width:20%">保险利益</td>
                      <td style="width:30%">保险金额</td>
                      <td style="width:50%">保险范围</td>
                    </tr>
                    </thead>
                  <tbody>
                    <tr>
                        <td class="new" style="width:20%">飞机意外伤害身故和残疾</td>
                      <td style="width:30%">20万</td>
                      <td style="width:50%">在保险期间内，本人持有效客票（包括依法免票）以乘客身份乘坐民航客机期间因意外伤害事故身故/残疾（限180天），保险人将按“飞机意外伤害保险金额”给付保险金；</td>
                    </tr>
                    <tr>
                        <td class="new" style="width:20%">火车意外伤害身故和残疾</td>
                      <td style="width:30%">10万</td>
                      <td style="width:50%">在保险期间内，本人持有效客票（包括依法免票）以乘客身份乘坐商业运营的火车、高铁、地铁、轻轨期间因意外伤害事故身故/残疾（限180天），保险人将按“火车意外伤害保险金额”给付保险金；</td>
                    </tr>
                    <tr>
                        <td class="new" style="width:20%">轮船意外伤害身故和残疾</td>
                      <td style="width:30%">10万</td>
                      <td style="width:50%">在保险期间内，本人持有效客票（包括依法免票）以乘客身份乘坐商业运营的轮船期间因意外伤害事故身故/残疾（限180天），保险人将按“轮船意外伤害保险金额”给付保险金；</td>
                    </tr>
                    <tr>
                        <td class="new" style="width:20%">汽车意外伤害身故和残疾</td>
                      <td style="width:30%">4万</td>
                      <td style="width:50%">在保险期间内，本人持有效客票（包括依法免票）以乘客身份乘坐商业运营的汽车期间因意外伤害事故身故/残疾（限180天），保险人将按“汽车意外伤害保险金额”给付保险金；</td>
                    </tr>
                  </tbody>
                </table>
        </div>
      </div>
      <div class="insurance_info_main2_content" style="">
        <div class="inner">
                  <p class="title green bold"></p>
                <table class="table-main">
                    <thead>
                    <tr>
                      <td style="width:20%">保险利益</td>
                      <td style="width:30%">保险金额</td>
                      <td style="width:50%">保险范围</td>
                    </tr>
                    </thead>
                  <tbody>
                    <tr>
                        <td class="" style="width:20%">意外身故</td>
                      <td style="width:30%">30万</td>
                      <td style="width:50%">在保险期间内被保险人遭受意外伤害，并自意外伤害发生之日起180日内因该意外伤害身故的，保险人按保险金额给付身故保险金</td>
                    </tr>
                    <tr>
                        <td class="" style="width:20%">意外伤残</td>
                      <td style="width:30%">30万</td>
                      <td style="width:50%">在保险期间内被保险人遭受意外伤害，并自意外伤害发生之日起180日内因该意外伤害造成条款所列伤残，保险人按伤残等级对应比例给付伤残保险金</td>
                    </tr>
                    <tr>
                        <td class="" style="width:20%">意外医疗</td>
                      <td style="width:30%">3万</td>
                      <td style="width:50%">在保险期间内被保险人遭受意外伤害产生的合理治疗费用，无免赔，社保用药100%赔付，自费和统筹资金已赔付的部分除外</td>
                    </tr>
                    <tr>
                        <td class="" style="width:20%">意外住院津贴</td>
                      <td style="width:30%">100元/天</td>
                      <td style="width:50%">免赔3天，最长180天/年</td>
                    </tr>
                  </tbody>
                </table>
                  <p class="title green bold">附加险-公共交通工具乘客意外伤害综合保险</p>
                <table class="table-main">
                    <thead>
                    <tr>
                      <td style="width:20%">保险利益</td>
                      <td style="width:30%">保险金额</td>
                      <td style="width:50%">保险范围</td>
                    </tr>
                    </thead>
                  <tbody>
                    <tr>
                        <td class="new" style="width:20%">飞机意外伤害身故和残疾</td>
                      <td style="width:30%">40万</td>
                      <td style="width:50%">在保险期间内，本人持有效客票（包括依法免票）以乘客身份乘坐民航客机期间因意外伤害事故身故/残疾（限180天），保险人将按“飞机意外伤害保险金额”给付保险金；</td>
                    </tr>
                    <tr>
                        <td class="new" style="width:20%">火车意外伤害身故和残疾</td>
                      <td style="width:30%">20万</td>
                      <td style="width:50%">在保险期间内，本人持有效客票（包括依法免票）以乘客身份乘坐商业运营的火车、高铁、地铁、轻轨期间因意外伤害事故身故/残疾（限180天），保险人将按“火车意外伤害保险金额”给付保险金；</td>
                    </tr>
                    <tr>
                        <td class="new" style="width:20%">轮船意外伤害身故和残疾</td>
                      <td style="width:30%">20万</td>
                      <td style="width:50%">在保险期间内，本人持有效客票（包括依法免票）以乘客身份乘坐商业运营的轮船期间因意外伤害事故身故/残疾（限180天），保险人将按“轮船意外伤害保险金额”给付保险金；</td>
                    </tr>
                    <tr>
                        <td class="new" style="width:20%">汽车意外伤害身故和残疾</td>
                      <td style="width:30%">8万</td>
                      <td style="width:50%">在保险期间内，本人持有效客票（包括依法免票）以乘客身份乘坐商业运营的汽车期间因意外伤害事故身故/残疾（限180天），保险人将按“汽车意外伤害保险金额”给付保险金；</td>
                    </tr>
                  </tbody>
                </table>
        </div>
      </div>
      <div class="insurance_info_main2_content" style="">
        <div class="inner">
                  <p class="title green bold"></p>
                <table class="table-main">
                    <thead>
                    <tr>
                      <td style="width:20%">保险利益</td>
                      <td style="width:30%">保险金额</td>
                      <td style="width:50%">保险范围</td>
                    </tr>
                    </thead>
                  <tbody>
                    <tr>
                        <td class="" style="width:20%">意外身故</td>
                      <td style="width:30%">50万</td>
                      <td style="width:50%">在保险期间内被保险人遭受意外伤害，并自意外伤害发生之日起180日内因该意外伤害身故的，保险人按保险金额给付身故保险金</td>
                    </tr>
                    <tr>
                        <td class="" style="width:20%">意外伤残</td>
                      <td style="width:30%">50万</td>
                      <td style="width:50%">在保险期间内被保险人遭受意外伤害，并自意外伤害发生之日起180日内因该意外伤害造成条款所列伤残，保险人按伤残等级对应比例给付伤残保险金</td>
                    </tr>
                    <tr>
                        <td class="" style="width:20%">意外医疗</td>
                      <td style="width:30%">5万</td>
                      <td style="width:50%">在保险期间内被保险人遭受意外伤害产生的合理治疗费用，无免赔，社保用药100%赔付，自费和统筹资金已赔付的部分除外</td>
                    </tr>
                    <tr>
                        <td class="" style="width:20%">意外住院津贴</td>
                      <td style="width:30%">100元/天</td>
                      <td style="width:50%">免赔3天，最长180天/年</td>
                    </tr>
                  </tbody>
                </table>
                  <p class="title green bold">附加险-公共交通工具乘客意外伤害综合保险</p>
                <table class="table-main">
                    <thead>
                    <tr>
                      <td style="width:20%">保险利益</td>
                      <td style="width:30%">保险金额</td>
                      <td style="width:50%">保险范围</td>
                    </tr>
                    </thead>
                  <tbody>
                    <tr>
                        <td class="new" style="width:20%">飞机意外伤害身故和残疾</td>
                      <td style="width:30%">60万</td>
                      <td style="width:50%">在保险期间内，本人持有效客票（包括依法免票）以乘客身份乘坐民航客机期间因意外伤害事故身故/残疾（限180天），保险人将按“飞机意外伤害保险金额”给付保险金；</td>
                    </tr>
                    <tr>
                        <td class="new" style="width:20%">火车意外伤害身故和残疾</td>
                      <td style="width:30%">30万</td>
                      <td style="width:50%">在保险期间内，本人持有效客票（包括依法免票）以乘客身份乘坐商业运营的火车、高铁、地铁、轻轨期间因意外伤害事故身故/残疾（限180天），保险人将按“火车意外伤害保险金额”给付保险金；</td>
                    </tr>
                    <tr>
                        <td class="new" style="width:20%">轮船意外伤害身故和残疾</td>
                      <td style="width:30%">30万</td>
                      <td style="width:50%">在保险期间内，本人持有效客票（包括依法免票）以乘客身份乘坐商业运营的轮船期间因意外伤害事故身故/残疾（限180天），保险人将按“轮船意外伤害保险金额”给付保险金；</td>
                    </tr>
                    <tr>
                        <td class="new" style="width:20%">汽车意外伤害身故和残疾</td>
                      <td style="width:30%">12万</td>
                      <td style="width:50%">在保险期间内，本人持有效客票（包括依法免票）以乘客身份乘坐商业运营的汽车期间因意外伤害事故身故/残疾（限180天），保险人将按“汽车意外伤害保险金额”给付保险金；</td>
                    </tr>
                  </tbody>
                </table>
        </div>
      </div>
    <div style="height: 60px"></div>
  </div>


  </div>


      <div class="tips top-inner" style="display:block">
            <p class="green" style="font-size:16px;">备注</p>
                <p>企业参保该方案，必需全员记名投保</p>
      </div>
      <div class="tips top-inner" style="display:none">
            <p class="green" style="font-size:16px;">备注</p>
                <p>企业参保该方案，必需全员记名投保</p>
      </div>
      <div class="tips top-inner" style="display:none">
            <p class="green" style="font-size:16px;">备注</p>
                <p>企业参保该方案，必需全员记名投保</p>
      </div>
      <div class="tips top-inner" style="display:none">
            <p class="green" style="font-size:16px;">备注</p>
                <p>企业参保该方案，必需全员记名投保</p>
      </div>



</div>

<div class="insurance_guize">
  <div class="insurance_title">
    <div class="top-inner">
      <span>投保流程及规则</span>
    </div>
  </div>
  <div class="insurance_guize_main top-inner">
    <p class="green title">投保流程</p>
    <div class="insurance_liucheng_detail">
      <div style="height:54px;"></div>
      <p>
          <span style="padding-left:160px;float:left;">在线完善资料 <br>提供电子版企业三证</span>
        <span style="padding-left:170px;float:left;">支付保费</span>
        <span style="padding-left:213px;float:left;">投保完成</span>
      <div class="clear"></div>
      </p>
    </div>
    <p class="green title">投保规则</p>
    <ul>
          <li>5人起保</li>
          <li>按月短期或1年期</li>
          <li>预付费且一次付清</li>
          <li>最早次日零时生效（限工作日15:00前）</li>
          <li>1年期增减员按天计费</li>
    </ul>
    <div class="clear"></div>

      <p class="green title">单证模板</p>
      <ul>
          <li><a target="_blank" href="http://production.qibao360.com/uploads/document_template/policy/8/员工保障计划保单模板.pdf?e=1554021561&amp;token=cAsAAJvflOIhtXoXxl2iNilT6ssw_qOofh8vVWsY:kVMgnzjMME2q4bDYCe_yUUU9qHQ=">电子保单模板</a></li>
      </ul>
      <div class="clear"></div>
  </div>
</div>

<div class="insurance_case">
  <div class="insurance_title">
    <div class="top-inner">
      <span>理赔流程</span>
    </div>
  </div>
  <div class="insurance_case_main top-inner">
    <div class="insurance_case_box insurance_case_box1">
    </div>
    <div class="insurance_case_box insurance_case_box2">
    </div>
    <div class="insurance_case_box insurance_case_box3">
    </div>
    <div class="insurance_case_box insurance_case_box4">
    </div>

    <div class="clear"></div>


  </div>
</div>


  <div class="insurance_faq">
    <div class="insurance_title">
      <div class="top-inner">
        <span>常见问题</span>
      </div>
    </div>
    <div class="insurance_faq_main top-inner">
        <p class="green question bold">问：出险后，就诊医院是否有限制？</p>
        <p>答：需要在二级以上（含二级）公立医院就医。县、市、省级公立医院一般都属于二级或以上医院，乡镇卫生院一般属于一级或未评级医院。</p>
        <p class="green question bold">问：出险后，我该怎么做？</p>
        <p>答：48小时内在“用户中心/我的理赔”里填写备案信息，专属理赔员对接出险联系人，理赔进度实时跟进，理赔咨询可拨400-11-78360。</p>
        <p class="green question bold">问：理赔何时到账？</p>
        <p>答：所有医疗单据经保险公司审核无误后，14个工作日赔偿金到出险人员本人账户。</p>
        <p class="green question bold">问：什么是理赔托管？</p>
        <p>答：包括：协助审核医疗票据、报告、申请表等理赔资料；与保险公司对接，争取被保险人应得的保险利益等。</p>
        <p class="green question bold">问：哪些医疗费用可以理赔？</p>
        <p>答：社保范围内的费用可递交至保险公司申请理赔。对于统筹支付和附加支付的相关费用，保险公司不予赔付。建议理赔备案时对此做详细咨询：400-11-78360。</p>
        <p class="green question bold">问：员工保障计划是一种什么样的产品？</p>
        <p>答：员工保障计划是团体意外险，并附加了交通意外伤害保险责任，适合企业统一采购作为员工福利，给员工提供日常生活中的意外伤害事故的保障。</p>
        <p class="green question bold">问：员工保障计划保障哪些内容？</p>
        <p>答：仅保障日常生活中发生的意外事故。因食物中毒、感冒发烧等任何疾病产生的费用都不在保险责任范围内！</p>
        <p class="green question bold">问：1人是否可以投保？</p>
        <p>答：本保险仅支持5人以上团体投保，并要求全员记名投保。</p>
        <p class="green question bold">问：是否提供增值税专用发票？</p>
        <p>答：有一般纳税人资格的企业可以，但需企业投保前提供开票资料并审核，默认提供增值税普通发票。</p>
    </div>
  </div>


  </div>

{%  endblock  %}

     {% block extrajs %}
<script type="text/javascript">
var len=$('.insurance_faq_main p').length
if(len>6){
  $('.insurance_faq_main').append('<a id="faq_btn" href="javascript:;" class="sum4_show_hide">查看更多 >>></a>')
  $('.insurance_faq_main').append('<div class="clear"></div>')
  $('.insurance_faq_main p').each(function(i){
    if(i>=6){
      $('.insurance_faq_main p').eq(i).hide()
    }
  })
  var tap=true
  $('#faq_btn').click(function(){
    if(tap){
      $('.insurance_faq_main p').each(function(i){
        if(i>=6){
          $('.insurance_faq_main p').eq(i).slideDown(200)
        }
      })
      $(this).html('收起 <<<')
      tap=false
    }else{
      $('.insurance_faq_main p').each(function(i){
        if(i>=6){
          $('.insurance_faq_main p').eq(i).slideUp(200)
        }
      })
      $(this).html('查看更多 >>>')
      tap=true
    }
  })
}
</script>


<script type="text/javascript">
  function reload_feature() {

  }

  $(document).ready(function(){
    $("#dialog_notice").modal("show");
  });
  insurance_bought_type
</script>

  <script type="text/javascript">

$(function(){
  var dis=170
  var top=$(window).scrollTop()
  //console.log(top)
  if(top>dis){
    $('.insurance_bought_inner').addClass('fixed')
  }else{
    $('.insurance_bought_inner').removeClass('fixed')
  }
  $(window).scroll(function(){
    var top=$(window).scrollTop()
    //console.log(top)
    if(top>dis){
      $('.insurance_bought_inner').addClass('fixed')
    }else{
      $('.insurance_bought_inner').removeClass('fixed')
    }
  })
})

$(function(){
  $('.insurance_info_main2_top ul li').each(function(i){
    $(this).click(function(){
      $(this).addClass('active').siblings().removeClass('active')
      $('.insurance_info_main2_content').hide()
      $('.insurance_info_main2_content').eq(i).show()
      $('.tips').hide();
      $('.tips').eq(i).show();
    })
  })
})

$(function(){
  $('.insurance_infos_main .type').each(function(){
    //if(!$(this).hasClass('active')){
      $(this).hover(function(){
        $(this).addClass('hover')
      },function(){
        $(this).removeClass('hover')
      })
    //}
  })
  $('.insurance_infos_main .category ul li .help').each(function(i){
    $(this).css({'z-index':(15-i)})
    $(this).hover(function(){
      $('.text',this).show()
    },function(){
      $('.text',this).hide()
    })
  })
})

function calc_insurance_price(){

  var lis = $('.insurance_infos_filter_box ul li.active');

  var ins_data = $('#current_price').attr('data-insurance');
//reload_selection(ins);

  var hash_req = {}
  for (var i=0; i<lis.length; i++) {
    var mode = lis.eq(i).attr('data-mode');
    if (mode == 'false') {
      $('#current_price').text('0.00');
      return;
    }

    var least = lis.eq(i).attr('data-least');

    var quote_option = lis.eq(i);
    var quote_group = quote_option.closest('ul');
    var code = quote_group.attr('data-code');

    hash_req[code] = least;
  }
  console.log("king");
  var plan = $('.insurance_bought_type a.active')
  var d = plan.attr('data-remote')
  if (d == 'false'){
    $('#current_price').text('0.00');
      return;
  }
  var index = plan.attr('data-insurance')
  hash_req["plan"] = index
  console.log(hash_req);
  json_data = JSON.stringify(hash_req);
  console.log(hash_req);

  ajax_insurance_quote(json_data);

//$('#current_price').text(price.toFixed(2));
}

function ajax_insurance_quote(value) {
  var url = $('#insurance_quote_set').attr('data-url');
  console.log(url);
  console.log(value);

  $.post({
    type: "POST",
    url: url,
    data: value,
    dataType: "json",
    success: function(resp){
      console.log(resp);
      if (resp.code == '0000') {
        var price = parseFloat(resp.data.price);
        $('#current_price').text(price.toFixed(2));
      } else {
        $('#current_price').text(resp.message);
      }
    }
  })
}

function change_insurance_url(){
  var ins_data = $('#current_price').attr('data-insurance');

  var url_data = window.location.href.split('?');
  var ini_data = url_data[0].split('../index.html');

  ini_data[ini_data.length-1] = ins_data;
  var info = ini_data.join('../index.html');

  url_data[0] = info;
  var path = url_data.join('?');

  history.replaceState(null, null, path);
}

$(function(){
  $('.insurance_infos_filter_box ul li').each(function(){
    $(this).click(function(){
      $(this).addClass('active').siblings().removeClass('active');
      calc_insurance_price();
    })
  })
})

$(function(){
  $('.insurance_bought_type a').each(function(i){
    $(this).click(function(){

      var ins_data = $(this).attr('data-insurance');
      console.log(ins_data);
      $('#current_price').attr('data-insurance', ins_data);

      if ($('#buy_link').length > 0) {
        var href_data = $('#buy_link').attr('href').split('=')[0] + "=" + ins_data;
        $('#buy_link').attr('href', href_data);
      }

      if ($('#upgrade_btn_id').length > 0) {
        var upgrade_id = $(this).attr('data-upgrade');
        if (upgrade_id != "") {
          var href_data = "/insurances/" + upgrade_id;
          $('#upgrade_btn_id').attr('href', href_data);
        }
      }

      if ($('#claim_link').length > 0) {
        if($('#claim_link').attr('href').indexOf('officeapps') == -1){
            var claim_data = $('#claim_link').attr('href').split('../index.html');
            claim_data[claim_data.length-2] = ins_data;
            $('#claim_link').attr('href', claim_data.join('../index.html'));
        }
      }

      $(this).addClass('active').siblings().removeClass('active');
      $('.insurance_infos_main .type').eq(i).addClass('active').siblings().removeClass('active');

      $('.insurance_info_main2_top ul li').eq(i).addClass('active').siblings().removeClass('active');
      $('.insurance_info_main2_content').hide();
      $('.insurance_info_main2_content').eq(i).show();
      $('.tips').hide();
      $('.tips').eq(i).show();

//    reload_feature();
      calc_insurance_price();
      change_insurance_url();

      var window_top = $(window).scrollTop();
      var infos_top = $('.insurance_infos').offset().top - 40;

      if (Math.abs(window_top - infos_top) <= 50) {
        $('html,body').animate({scrollTop: infos_top}, 0);
      } else {
        $('html,body').animate({scrollTop: infos_top}, 800);
      }
    })
  })
  $('.insurance_infos_main .type').each(function(i){
    $(this).click(function(){
      var ins_data = $('.insurance_bought_type a').eq(i).attr('data-insurance');
      var ins_id = "#insurance" + ins_data;
      $(ins_id).click();

      return false;

      /*
      $('#current_price').attr('data-insurance', ins_data);

      if ($('#buy_link').length > 0) {
        var href_data = $('#buy_link').attr('href').split('=')[0] + "=" + ins_data;
        $('#buy_link').attr('href', href_data);
      }

      if($('#claim_link').attr('href').indexOf('officeapps') == -1) {
          var claim_data = $('#claim_link').attr('href').split('/');
          claim_data[claim_data.length - 2] = ins_data;
          $('#claim_link').attr('href', claim_data.join('/'));
      }

      $(this).addClass('active').siblings().removeClass('active');
      $('.insurance_bought_type a').eq(i).addClass('active').siblings().removeClass('active');

      reload_feature();
      calc_insurance_price();
      change_insurance_url();
      */
    })
  })
  $('.insurance_info_main2_top ul li').each(function(i){
    $(this).click(function(){
      var ins_data = $('.insurance_bought_type a').eq(i).attr('data-insurance');
      var ins_id = "#insurance" + ins_data;

      $(ins_id).click();

      return false;
    })
  })
})
</script>

<script src="{% static "css/popper.min.js" %}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="{% static "css/bootstrap.min.js" %}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!--
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  -->




</body>


<!-- Mirrored from qibao360.com/insurances/125 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 24 Mar 2019 08:43:30 GMT -->
</html>
