<div id="listmenu">&我是垂直菜单哦^_^
        <nav id="nav_left">
            <ul>
                <li><a href="#">个人信息</a></li>
                <li><a href="#">教育经历</a></li>
                <li><a href="#">家庭成员</a></li>
            </ul>
        </nav>
    </div>
    <div id="sidewards">&我是水平菜单哦^_^
        <nav id="nav_top">
            <ul>
                <li><a href="#">个人信息</a></li>
                <li><a href="#">教育经历</a></li>
                <li><a href="#">家庭成员</a></li>
            </ul>
        </nav>
    </div>
    <div id="pulldown">我是下拉菜单哦^_^
        <nav class="nav_pull vertical">
            <ul>
                <li><a href="#">个人信息</a>
                    <ul id="two">
                        <li><a href="#">梁幸芝</a></li>
                        <li><a href="#">西安邮电大学</a>
                        </li>
                        <li><a href="#">计算机学院</a></li>
                        <li><a href="#">软件1204</a></li>
                    </ul>
                </li>
                <li><a href="#">教育经历</a>
                    <ul id="two">
                        <li><a href="#">北张小学</a></li>
                        <li><a href="http://xpfyyz.30edu.com/">丰仪一中</a></li>
                        <li><a href="http://baike.baidu.com/view/3990931.htm">南郊中学</a></li>
                        <li><a href="http://www.xiyou.edu.cn/">西安邮电大学</a></li>
                    </ul>
                </li>
                <li><a href="#">家庭成员</a>
                    <ul id="two">
                        <li><a href="#">梁爸爸</a></li>
                        <li><a href="#">梁妈妈</a></li>
                        <li><a href="#">我</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>